* {
  padding: 0px;
  margin: 0px;
}

:root {
  --main-clr: #0b132b;
  --second-clr: #1c2541;
  --third-clr: #3a506b;
  --fourth-clr: #5bc0be;
  --fifth-clr: #6fffe9;
}

/* Main div styling */
.contain {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;
}

/* sidebar styling */
.sideBar {
  background-color: var(--second-clr);
  color: var(--fourth-clr);
  grid-area: 1 / 1 / 4 / 2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* List of priority styling */
.prio {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
}
/* mainTask styling */
.mainTask {
  position: relative;
  background-color: var(--main-clr);
  color: var(--fourth-clr);
  grid-area: 1/ 2 / 4 / 4;
}

/* Heading in Main Tasks area */
.mainTask h1 {
  text-align: center;
}

/* Buttons styling */
button {
  background-color: var(--third-clr);
  border-color: var(--third-clr);
  color: #fff;
  padding: 1em;
  border-radius: 8px;
}

