* {
  padding: 0px;
  margin: 0px;
}

:root {
  --main-clr: #0b132b;
  --second-clr: #1c2541;
  --third-clr: #3a506b;
  --fourth-clr: #5bc0be;
  --fifth-clr: #6fffe9;
}

/* Main div styling */
.contain {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* sidebar styling */
.sidebar {
  background-color: var(--second-clr);
  color: var(--fourth-clr);
  grid-area: 1 / 1 / 4 / 2;
}

/* mainTask styling */
.mainTask {
  background-color: var(--main-clr);
  color: var(--fourth-clr);
  grid-area: 1/ 2 / 4 / 4;
}

/* Buttons styling */
button {
  background-color:var(--third-clr);
  border-color: var(--third-clr);
  color: #fff;
}
