:root {
  --main-clr: #0b132b;
  --second-clr: #1c2541;
  --third-clr: #3a506b;
  --fourth-clr: #5bc0be;
  --fifth-clr: #6fffe9;
}

/* task modal */
.taskModal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  width: 400px;
  background-color: var(--third-clr);
  border-radius: 1em;
}

/* hide and display modal */
.modalHide {
  visibility: hidden;
}

.taskModal form {
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.btnHolder {
  display: flex;
  justify-content: space-between;
}

.Clear,
#newTaskBtn {
  flex-grow: 1;
}

.hideModal {
  position: absolute;
  left: 90%;
  bottom: 90%;
  padding: 5px;
  font-size: large;
}

/* tags */
.tags {
  display: flex;
  justify-content: space-around;
}

.tag-template {
  padding: 0.5em;
  border-radius: 1px;
  width: 200px;
  letter-spacing: 2px;
}

.task {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--second-clr);
  border-radius: 10px;
}

.task p {
  width: 100px;
}

#content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
